# **입출력과 사칙연산**

3003

In [ ]:
a,b,c,d,e,f=input("").split(" ")
print(f"{-(int(a)-1)} {-(int(b)-1)} {-(int(c)-2)} {-(int(d)-2)} {-(int(e)-2)} {-(int(f)-8)}")

2 1 2 1 2 1
-1 0 0 1 0 7

10430

In [ ]:
a,b,c=input("").split(" ")
a=int(a)
b=int(b)
c=int(c)
print(f"{(a+b)%c}")
print(f"{((a%c)+(b%c))%c}")
print(f"{(a*b)%c}")
print(f"{((a%c)*(b%c))%c}")

5 8 4
1
1
0
0

2588

In [ ]:
n1=input("")
n2=input("")
li1=[]
li2=[]
for i in str(n1) :
  li1.append(int(i))
for i in str(n2) :
  li2.append(int(i))
a11=[li1[0]*100,li1[1]*10,li1[2]]
a22=[li2[0],li2[1],li2[2]]

a1 = (a11[0]*a22[2])+(a11[1]*a22[2])+(a11[2]*a22[2])
a10 = (a11[0]*a22[1])+(a11[1]*a22[1])+(a11[2]*a22[1])
a100 = (a11[0]*a22[0])+(a11[1]*a22[0])+(a11[2]*a22[0])
print(f"{a1}\n{a10}\n{a100}\n{int(n1)*int(n2)}")

472
385
2360
3776
1416
181720

10171

In [ ]:
print("\    /\\") 
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
print("         ,r\'\"7")
print("r`-_   ,'  ,/")
print(" \. \". L_r'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

# **조건문 문제 풀이**

1330 두 수 비교하기기

In [ ]:
a,b = input().split(" ")
a=int(a)
b=int(b)
if a > b :
    print(">")
elif a < b :
    print("<")
else : 
    print("==")

9498	시험 성적

In [ ]:
a = int(input())
if a >= 90 and a <= 100 :
    print("A")
elif a >= 80 and a <= 89 :
    print("B")
elif a >= 70 and a <= 79 :
    print("C")
elif a >= 60 and a <= 69 :
    print("D")
else : 
    print("F")

95
A

2753	윤년

In [ ]:
a = int(input())
if a % 4 == 0 :
    if a % 400 == 0 or not a % 100 ==0 :
        print(1)
    else :
        print(0)
else :
    print(0)

2012
1

14681	사분면 고르기

In [ ]:
i = int(input())
j = int(input())
if i>0 and j>0:
    print(1)
elif i<0 and j>0:
    print(2)
elif i>0 and j<0:
    print(4)
else :
    print(3)

2884	알람 시계

In [ ]:
h,m=map(int, input().split())
if m > 44:
    print(h,m-45)
elif m < 45 and h > 0:
    print(h-1, m+15)
else :
    print(23, m+15)

0 44
23 59

2525	오븐 시계

In [ ]:
h,m=map(int, input().split())
n=int(input())
h=h+((m+n)//60)
m=(m+n)%60
if h > 23:
    print(f"{h-24} {m}")
else :
    print(f"{h} {m}")

2480	주사위 세개

In [ ]:
s1,s2,s3=map(int, input().split())
sl=[s1,s2,s3]
sl.sort()
n=0
if sl[0] == sl[1] != sl[2]: 
    n+=sl[0]*100+1000
elif sl[1] == sl[2] != sl[0]:
    n+=sl[1]*100+1000
elif sl[0] == sl[2] != sl[1]:
    n+=sl[0]*100+1000
elif sl[0] == sl[1] == sl[2]:
    n+=+sl[0]*1000+10000
else :
    n+=sl[2]*100
print(n)

# 반복문 단계

2739	구구단

In [ ]:
n=int(input())
for i in range(1,10):
    print(f"{n} * {i} = {n*i}")

10950	A+B - 3

In [ ]:
f=int(input())
n=[]
d=[]
for i in range(1,f+1):
    a,b=map(int, input().split())
    n.append(a)
    d.append(b)
for i in range(len(n)):
    print(n[i]+d[i])

8393	합

In [ ]:
n=int(input())
s=0
for i in range(1,n+1):
    s+=i
print(s)

25304	영수증

In [ ]:
q1=int(input())
q2=int(input())
n1=0
n2=0
p=[]
g=[]
s=0
for i in range(1,q2+1):
    n1,n2=map(int, input().split())
    p.append(n1)
    g.append(n2)
for i in range(len(p)):
    s+=p[i]*g[i]
if s == q1 :
    print("Yes")
else :
    print("No")

15552	빠른 A+B

In [ ]:
import sys
l=int(sys.stdin.readline().rstrip())
a=[]
b=[]
for i in range(1,l+1):
    n,f=map(int,sys.stdin.readline().split())
    a.append(n)
    b.append(f)
for i in range(len(a)):
    print(f"{a[i]+b[i]}")

11021	A+B - 7

In [ ]:
f=int(input())
n=[]
d=[]
for i in range(1,f+1):
    a,b=map(int, input().split())
    n.append(a)
    d.append(b)
for i in range(len(n)):
    print(f"Case #{i+1}: {n[i]+d[i]}")

2
1 1
2 2
Case #1: 2
Case #2: 4

11022	A+B - 8

In [ ]:
f=int(input())
n=[]
d=[]
for i in range(1,f+1):
    a,b=map(int, input().split())
    n.append(a)
    d.append(b)
for i in range(len(n)):
    print(f"Case #{i+1}: {n[i]} + {d[i]} = {n[i]+d[i]}")

2
1 1
2 2
Case #1: 1 + 1 = 2
Case #2: 2 + 2 = 4

2438	별 찍기 - 1

In [ ]:
n=int(input())
for i in range(1, n+1):
    print("*"*i)

5
*
**
***
****
*****

2439	별 찍기 - 2

In [ ]:
n=int(input())
for i in range(1, n+1):
  for a in range(n+1-i,1,-1):
    print(" ",end="")
  for b in range(i,0,-1):
    print("*",end="")
  print()

5
    *
   **
  ***
 ****
*****

10952	A+B - 5

In [ ]:
a=1
b=1
n=1
c=[]
d=[]
while n == 1:
  if a == 0 and b == 0 :
    n=0
    break
  a,b=map(int, input().split())
  c.append(a)
  d.append(b)
for i in range(len(c)):
  if c[i]==0 and d[i]==0:
    continue 
  print(c[i]+d[i])

1 1
2 2
3 3
0 0
2
4
6

10951	A+B - 4

In [ ]:
s=[]
a=True
while a==True:
    try:
        x,y = map(int, input().split())
        z=x+y
        s.append(z)
    except:
        a=False
for i in range(len(s)):
    print(s[i])

1110	더하기 사이클

In [ ]:
n=int(input())
t=[]
if n < 10:
    a=str(n)
    t=["0",a]
else:
    t=list(str(n))
s=1
b=int(t[-1])+int(t[-2])
k=list(str(b))
a=int(t[-1]+k[-1])
while a!=n :
    b=int(t[-1])+int(k[-1])
    a=int(t[-1]+k[-1])
    t=k
    k=list(str(b))
    if a!=n:
        s+=1
    else:
        continue
print(s)

26
4

# 1차원 배열 단계

10807	개수 세기

In [ ]:
l=int(input())
n=input()
l2=list(map(int, n.split()))
q=int(input())

s=0
for i in range(0,l):
    if l2[i]==q :
        s+=1
print(s)

10871	X보다 작은 수

In [ ]:
n,x=map(int, input().split())
ns=input()
ln=list(map(int, ns.split()))
a=[]
for i in range(len(ln)):
    if ln[i] < x :
        a.append(ln[i])
for b in range(len(a)):
    print(a[b], end=" ")

10818	최소, 최대

In [ ]:
n=int(input())
q=input()
ql=list(map(int, q.split()))
ql.sort()

a=[]
a.append(ql[0])
a.append(ql[n-1])

for d in a:
    print(d, end=" ")

2562	최댓값

In [ ]:
q=[]
for i in range(9):
    b=int(input())
    q.append(b)
a=sorted(q)
s=[]
s.append(a[8])
s.append((q.index(a[8]))+1)
for i in s:
    print(i)

5597	 과제 안 내신 분..?

In [ ]:
n={}
for i in range(1, 31):
  n[i] = i

for i in range(1, 29):
  a=int(input())
  del n[a]

for i in n:
  print(i)

3052	 나머지

In [ ]:
s={}
for i in range(10):
    a=int(input())
    b = i % 42
    s[b]=b
k=s.copy()
for key, item in list(s.items()):
    if k[key] == key:
        del k[key]
    else:
        continue
print(len(s)-len(k))

1546	 평균

In [ ]:
a = int(input())
b=input()
c=list(map(int, b.split()))
c.sort(reverse=True)
d=0
for i in range(len(c)):
    d += c[i]/c[0]*100
print(d/a)

8958	 OX퀴즈

In [ ]:
a=int(input())
b=[]
for i in range(a):
  c=input()
  b.append(c)
c=[]
for i in range(a):
    d=list(b[i])
    e=0
    f=0
    for q in range(len(d)):
        if d[q] == "O":
            e+=1 
            f+=e
        elif d[q] == "X":
            e=0
    c.append(f) 
for i in c:
    print(i)

4344	 평균은 넘겠지

In [ ]:
a= int(input())
l= []
for i in range(a):
  b=input()
  l.append(b)

for i in range(a):
  k=[]
  k=list(map(int, l[i].split()))
  for j in range(len(k)):
    c=0
    for h in range(1,k[0]+1):
      c+=k[h]
    c/=k[0]
    e=0
    for h in range(1,k[0]+1):
      if k[h] > c :
        e+=1
  s=e/k[0]*100
  print(f"{s:.3f}%")

1
9 100 99 98 97 96 95 94 93 91
55.556%

In [ ]:
import time
start_time = time.time()

def a(i,j):

  def z(k): 
    z1=[]
    for x in range(1,k+1):
      if k%x==0:
        z1.append(x)
    return z1
  
  a1=list(z(i))
  a2=list(z(j))

  a3=list(set(a1)&set(a2))
  a4=a3[-1]
  print(f'1:{a1}\n2:{a2}\na3:{a3}\na3:{a4}')
  s1=i//a4
  s2=j//a4
  s=s1*s2*a4
  
  return s
    

c=int(input())
q=[]
for i in range(c):
  f=input()
  qq=list(map(int, f.split()))
  q.append(qq)
 
for i,j in q:
  print(a(i,j))

end_time = time.time()
print("run time: ", end_time - start_time)

1
12 25
1:[1, 2, 3, 4, 6, 12]
2:[1, 5, 25]
a3:[1]
a3:1
300
run time:  8.529192924499512

# GDSC 골라준 파이썬 문제

 1934번 최소공배수

In [ ]:
import time
start_time = time.time()

def a(i,j):
  def z(k): 
    z1=[]
    for x in range(1,k+1):
      if k%x==0:
        z1.append(x)
    return z1
  a1=z(i)
  a2=z(j)
  a3=max(list(set(a1)&set(a2)))

  def h(n):
      return n//a3

  s=h(i)*h(j)*a3
  return s
    
c=1 #int(input())
q=[]
for i in range(c):
  f='10 30'#input()
  q.append(list(map(int, f.split())))
 
for i,j in q:
  print(a(i,j))

end_time = time.time()
print("run time: ", end_time - start_time)

In [ ]:
import time
start_time = time.time()

import math
    
c=int(input())
q=[]
for i in range(c):
  f=input()
  q.append(list(map(int, f.split())))
 
for i,j in q:
  print(math.lcm(i,j))

end_time = time.time()
print("run time: ", end_time - start_time)